@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

/* theme info 
  1944mustang-color-theme
  #000
  #263248 - deepblue
  #7E8AA2 - greyblue
  #fff
  #FF9800 - orange
*/

html, body{
  width: 100%;  
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #000 url('images/body_bg.jpg') no-repeat 50% 0 fixed;
  -webkit-background-size: cover;
  background-size: cover;

  color: #fff;
  padding: 40px 0;
  font-weight: 400;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* section wrapper content */
.section_content{
  width: 70%;
  margin: 0px auto;
  padding: 40px 25px;

  background-color: #131313;

  box-shadow: 0px 16px 20px 6px #000000;
  -moz-box-shadow: 0px 16px 20px 6px #000000;
  -webkit-box-shadow: 0px 16px 20px 6px #000000;
}
  @media(max-width: 991px){
    .section_content{ width: 80% !important; }
    .lessons_navigation a{width: 25% !important; }
  }
  @media(max-width: 768px){
    .section_content{ width: 90% !important; }
    .lessons_navigation a{width: 50% !important;} 
  }

/* headers styling */
h1{ font-size: 36px; }
h2{ font-size: 30px; }
h3{ font-size: 24px; }

h1,h2,h3{
  margin: 0 0 20px;
  
  font-weight: 800;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* text styling */
.text_style{
  font-size: 14px;
  line-height: 16px;
}
.align_left{ text-align: left; }
.align_right{ text-align: right; }
.align_center{ text-align: center; }

.comment{
  font-size: 12px;
  color: rgba(255,255,255, .5);
  padding: 5px;
  border: 1px dashed #ccc;
  background-color: rgba(255,255,255, .5);
  margin: 10px 0;
  display: inline-block;
}

/* link's */
a{
  color: #FF9800;
  text-decoration: none;
}

/* divider */
.divider{
  margin: 10px;
  border-bottom: 1px solid #FF9800;
}

/* code style */
pre{
  overflow: auto;
  background-color: #ccc;
  border-left: 5px solid #FF9800;
  color: #4d4e53;
  font-weight: 400;  
}

/* images */
img.screenshot{
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 10px 0;
}

/* student info */
.student_info{}
  .student_info img{ 
    width: 200px; 
    height: auto;
    display: inline-block;
    max-width: 100%;

    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

/* lessons_navigation */
.lessons_navigation{
  clear: both;
}
  .lessons_navigation a{
    width: 20%;
    float: left;
    padding: 10px;
    height: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all .1s ease;

    font-weight: 800;
    
    background-blend-mode: luminosity;
  }
    .lessons_navigation a:hover{
      color: #fff;
      text-decoration: underline;
      box-shadow: inset 0 0 0 3px #fff;

      background-blend-mode: normal;
    }
    /**/
    .lessons_navigation a.web_request{
      background: #000 url('images/web_request.jpg') 50%;

      -webkit-background-size: cover;
      background-size: cover;
    }
    .lessons_navigation a.vcs{
      background: #000 url('images/vcs.jpg') 50%;

      -webkit-background-size: cover;
      background-size: cover;
    }
    .lessons_navigation a.intro_js{
      background: #000 url('images/introduction_js.jpg') 50%;
      
      -webkit-background-size: cover; 
      background-size: cover; 
    }
    .lessons_navigation a.functions{
      background: #000 url('images/functions.jpg') 50%;
      
      -webkit-background-size: cover; 
      background-size: cover; 
    }

button{
  color: #fff;
  background: #FF9800;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: all .2s ease;
}
button:hover{
  background-color: #ffac32;
  text-shadow: 0 0 3px rgba(0,0,0,.25);
}