/* menu */
#game_menu{
	margin-top: 25px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;

  text-align: center;
}
#game_menu input[type="text"]{
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 2px solid #FF9800;
	background-color: #131313;
	
	text-align: center;
	color: #fff;
	padding: 5px;
  transition: all .2s ease;
}
#game_menu input[type="text"]:hover{
	border-color: #ffac32
}


/* game */
#memory_game{
	margin-top: 25px;

	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#memory_game div{
	width: 20%;
	margin: 2%;
	height: 100px;

	line-height: 100px;
	text-align: center;
	cursor: pointer;

	background: #eab92d;
	background: -moz-linear-gradient(top,  #eab92d 0%, #c79810 100%);
	background: -webkit-linear-gradient(top,  #eab92d 0%,#c79810 100%);
	background: linear-gradient(to bottom,  #eab92d 0%,#c79810 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );

	transition: all .25s ease-in-out;
}
	#memory_game div:not(.out):hover,
	#memory_game div.active {
		box-shadow: 0px 0px 10px 0px rgba(255,255,255, .25);
		transform: scale(1.05);
	}
	#memory_game div.active{
		background: #febf01;
		background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%);
		background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%);
		background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 );
	}

	#memory_game div.out{
		color: #008A00;
		font-weight: 900;
		cursor: default;

		background: #fcfff4;
		background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
		background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	}