/* wrapper */
.thegame{
	padding: 15px 0;
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}
.center{
	text-align: center;
	color: red;
	font-weight: 900;
	text-transform: uppercase;
}
.error{
	font-size: 12px;
	color: red;
	visibility: hidden;
}
/* menu */
.game_menu{
	margin-top: 25px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;

  text-align: center;
}
.game_menu input,
.game_menu button {
	width: 30%;
	margin: 0 auto;
}
.game_menu input[type="text"]{
	border: none;
	outline: none;
	border-bottom: 3px solid #FF9800;
	background-color: inherit;
	
	text-align: center;
	color: #fff;
	padding: 5px;
  transition: all .2s ease;
}
.game_menu input[type="text"]:hover{
	border-color: #ffac32
}

/* game */
#memory_game{
	width: 80%;
	margin: 25px auto 0;

	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  background: url('images/dog.jpg') no-repeat 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
#memory_game div{
	text-align: center;
	cursor: pointer;
	color: #000;
	text-indent: -9999px;
	overflow: hidden;

	background: #ffffff;
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(135deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );

	border-radius: 5px;
	margin: 1%;

	transition: all .25s ease-in-out;
}
	#memory_game div:not(.out):hover,
	#memory_game div.active {
		box-shadow: inset 0px 0px 15px 0px rgba(0,0,0, 1);
	}
	#memory_game div.active{
		text-indent: 0;
		font-weight: 900;

		background: #febf01;
		background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%);
		background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%);
		background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 );
	}

	#memory_game div.out{
		color: #000;
		font-weight: 900;
		cursor: default;
		text-indent: 0;

		background: rgba(255,255,255, .3);
	}